Importing libraries for generating the synthetic dataset.

In [1]:
import numpy
import pandas
import io
import math
import scipy.stats

Set Variables for the dataset.

In [1]:
total_dataset_size = 20000

#file 
file_name="integration_with_cos_dataset"
file_save_location='./../Data/'
file_type='.csv'
is_file_index_needed=False

Script for generating the list of dataset.

In [ ]:
number_of_iteration = total_dataset_size
result_list=[]
for index in range(number_of_iteration):
    intermediate_list=[]
    interim=index
    train=str(interim)+"+"+str(interim+1)
    test=str(2*interim+1)
    intermediate_list.append(train)
    intermediate_list.append(test)
    result_list.append(intermediate_list)

In [5]:
number_of_iteration = total_dataset_size
result_list=[]
for index in range(number_of_iteration):
    intermediate_list=[]
    interim=index
    train_1=interim
    train_2=interim+1
    test=str(2*interim+1)
    #test=str(train_1**train_2)
    test=str(math.cos(train_1))
    intermediate_list.append(train_1)
    #intermediate_list.append(train_2)
    intermediate_list.append(test)
    result_list.append(intermediate_list)

Probabilistic data Generation

In [3]:
start = 10
width = 20
#data_uniform =scipy.stats.uniform.rvs(size=total_dataset_size, loc = start, scale=width)
data_normal = scipy.stats.norm.rvs(size=total_dataset_size,loc=0,scale=1)
data_gamma = scipy.stats.gamma.rvs(a=5, size=total_dataset_size)
data_expon = scipy.stats.expon.rvs(scale=1,loc=0,size=total_dataset_size)
data_poisson = scipy.stats.poisson.rvs(mu=3, size=total_dataset_size)

In [6]:
import numpy as np
import pandas as pd
from scipy.stats import expon, gamma, norm, poisson, binom

def generate_exponential_dataset(num_samples, exp_lambda):
    exp_data = expon(scale=1/exp_lambda).rvs(size=num_samples).reshape(-1, 1)
    labels = np.random.randint(2, size=num_samples).reshape(-1, 1)  # Generating random binary labels
    df = pd.DataFrame(np.concatenate([exp_data, labels], axis=1), columns=['var_1', 'result'])
    return df

def generate_gamma_dataset(num_samples, gamma_shape, gamma_scale):
    gamma_data = gamma(a=gamma_shape, scale=gamma_scale).rvs(size=num_samples).reshape(-1, 1)
    labels = np.random.randint(2, size=num_samples).reshape(-1, 1)  # Generating random binary labels
    df = pd.DataFrame(np.concatenate([gamma_data, labels], axis=1), columns=['var_1', 'result'])
    return df

def generate_normal_dataset(num_samples, normal_mean, normal_std):
    normal_data = norm(loc=normal_mean, scale=normal_std).rvs(size=num_samples).reshape(-1, 1)
    labels = np.random.randint(2, size=num_samples).reshape(-1, 1)  # Generating random binary labels
    df = pd.DataFrame(np.concatenate([normal_data, labels], axis=1), columns=['var_1', 'result'])
    return df

def generate_poisson_dataset(num_samples, poisson_lambda):
    poisson_data = poisson(mu=poisson_lambda).rvs(size=num_samples).reshape(-1, 1)
    labels = np.random.randint(2, size=num_samples).reshape(-1, 1)  # Generating random binary labels
    df = pd.DataFrame(np.concatenate([poisson_data, labels], axis=1), columns=['var_1', 'result'])
    return df

def generate_binomial_dataset(num_samples, n_trials, p_success):
    binomial_data = binom(n=n_trials, p=p_success).rvs(size=num_samples).reshape(-1, 1)
    labels = np.random.randint(2, size=num_samples).reshape(-1, 1)  # Generating random binary labels
    df = pd.DataFrame(np.concatenate([binomial_data, labels], axis=1), columns=['var_1', 'result'])
    return df

# Example usage:
num_samples = total_dataset_size
exp_lambda = 0.5
gamma_shape = 2
gamma_scale = 2
normal_mean = 0
normal_std = 1
poisson_lambda = 3
n_trials = 10
p_success = 0.5

exp_df = generate_exponential_dataset(num_samples, exp_lambda)
gamma_df = generate_gamma_dataset(num_samples, gamma_shape, gamma_scale)
normal_df = generate_normal_dataset(num_samples, normal_mean, normal_std)
poisson_df = generate_poisson_dataset(num_samples, poisson_lambda)
binomial_df = generate_binomial_dataset(num_samples, n_trials, p_success)

In [13]:
binomial_df.to_csv(file_save_location+file_name+file_type,index=is_file_index_needed)

In [2]:
import numpy as np
import pandas as pd

def integrate_function(a):
    return a**2 * np.cos(a)

def generate_dataset(num_samples, upper_limit):
    # Generate random values of 'a' within the specified range
    a_values = np.random.uniform(0, upper_limit, num_samples)
    
    # Calculate the corresponding integral values
    integral_values = [integrate_function(a) for a in a_values]
    
    # Create a DataFrame with 'var_1' and 'result' columns
    df = pd.DataFrame({'var_1': a_values, 'result': integral_values})
    
    return df

int_var_square_cos_df = generate_dataset(total_dataset_size, 10)

In [3]:
int_var_square_cos_df.to_csv(file_save_location+file_name+file_type,index=is_file_index_needed)

Converting it to Pandas Dataframe.

In [ ]:
dataf=pandas.DataFrame(result_list)
dataf=dataf.rename(columns={0: "equation", 1: "result"})
dataf

In [8]:
dataf=pandas.DataFrame(result_list)
dataf=dataf.rename(columns={0: "var_1",1: "var_2", 2: "result"})
dataf

           var_1
0       6.859864
1      11.639084
2       7.092220
3       9.293630
4       3.873434
...          ...
19995   3.034998
19996   3.934785
19997   6.036999
19998  11.059102
19999   1.306916

[20000 rows x 1 columns]

Probabilistic dataframe

In [16]:
dataf=pandas.DataFrame(data_poisson)
dataf=dataf.rename(columns={0: "var_1"})
dataf

       var_1
0          2
1          5
2          3
3          3
4          4
...      ...
19995      3
19996      4
19997      5
19998      6
19999      1

[20000 rows x 1 columns]

Saving the pandas dataframe to a csv file in the local system.

In [17]:
dataf.to_csv(file_save_location+file_name+file_type,index=is_file_index_needed)