Importing libraries for generating the synthetic dataset.

In [1]:
import numpy
import pandas
import io

Set Variables for the dataset.

In [2]:
total_dataset_size = 20000

#file 
file_name="addition_dataset"
file_save_location='./../Data/'
file_type='.csv'
is_file_index_needed=False

Script for generating the list of dataset.

In [3]:
number_of_iteration = total_dataset_size
result_list=[]
for index in range(number_of_iteration):
    intermediate_list=[]
    interim=index
    train=str(interim)+"+"+str(interim+1)
    test=str(2*interim+1)
    intermediate_list.append(train)
    intermediate_list.append(test)
    result_list.append(intermediate_list)

Converting it to Pandas Dataframe.

In [4]:
dataf=pandas.DataFrame(result_list)
dataf=dataf.rename(columns={0: "equation", 1: "result"})
dataf

          equation result
0              0+1      1
1              1+2      3
2              2+3      5
3              3+4      7
4              4+5      9
...            ...    ...
19995  19995+19996  39991
19996  19996+19997  39993
19997  19997+19998  39995
19998  19998+19999  39997
19999  19999+20000  39999

[20000 rows x 2 columns]

Saving the pandas dataframe to a csv file in the local system.

In [5]:
dataf.to_csv(file_save_location+file_name+file_type,index=is_file_index_needed)